@media only screen and (min-width: 992px) {
  .container {
    max-width: 1100px;
  }
  #menu {
    display: none;
  }
  .nav ul {
    display: block;
  }
  ul.navList {
    list-style-type: none;
    display: flex;
    gap: 35px;
  }
  ul.navList a {
    color: black;
    font-weight: 500;
  }

  button.praimaryBtn.sing {
    padding: 10px 10px;
    width: 105px;
    border: none;
    border-radius: 50px;
    color: white;
    background-color: #21b573;
    font-weight: 700;
    letter-spacing: 1.1px;
    cursor: pointer;
  }
  .singleBook {
    width: 21%;
  }
  .card {
    width: 30%;
  }

  .card.lastCard {
    left: 0%;
    transform: translate(0%, 0%);
  }
  .testimonial {
    width: 30%;
  }
  .singleFoot {
    width: 20%;
  }
  .singleFoot {
    justify-content: flex-start;
  }
}
