@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Poppins", sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
p {
  color: #585859;
  font-size: 14px;
}
a {
  text-decoration: none;
}
section {
  margin: 40px 0px;
}
.container {
  width: 90%;
  margin: 0 auto;
}
/* This is header section start */
header {
  background-color: #f0fff0;
}
.navWrap {
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#menu {
  display: block;
  font-size: 20px;
}
.nav ul {
  display: none;
}
.nav img {
  max-width: 35%;
}
button.praimaryBtn.sing {
  padding: 10px 10px;
  width: 105px;
  border: none;
  border-radius: 50px;
  color: white;
  background-color: #21b573;
  font-weight: 700;
  letter-spacing: 1.1px;
  cursor: pointer;
}
/* This is header section end */
/* This is ready to learn section start */
.learnWrap {
  display: flex;
  flex-flow: column wrap;
}
.learn {
  width: 100%;
  margin-bottom: 40px;
}
.learn img {
  width: 100%;
}
.learn p {
  color: red;
  padding-bottom: 10px;
}
.learn h1 {
  font-size: 30px;
  padding-bottom: 10px;
  line-height: 1.2;
}
.learn h1 span {
  color: #21b573;
}
.pera {
  color: black !important;
  text-align: justify;
  padding-bottom: 15px !important;
}
/* This is ready to learn section End */
/* This is our book section start */
.bookWrap {
  display: flex;
  flex-flow: column wrap;
  gap: 25px;
}
.singleBook {
  width: 100%;
  background-color: #f0fff0;
  /* margin-bottom: 20px; */
  padding: 30px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  transition-duration: 0.3s;
}
.singleBook:hover {
  background-color: white;
  box-shadow: 0px 0px 20px 0px #ddd;
}
.singleBook img {
  width: 20%;
  padding-bottom: 10px;
}
.singleBook h3 {
  padding-bottom: 10px;
}
/* This is our book section end */
/* This is our Online Course section start */
.courseHeader {
  text-align: center;
  font-size: 20px;
  padding-bottom: 30px;
}
.courseWrap {
  display: flex;
  flex-flow: column wrap;
  gap: 30px;
}
.card {
  width: 100%;
  padding: 15px;
  box-shadow: 0px 0px 5px 0px #ddd;
  border-radius: 10px;
  display: flex;
  flex-flow: column wrap;
}

.card img {
  width: 100%;
}
.card h3 {
  padding: 10px 0px;
  font-weight: 500;
}

.card span {
  padding: 10px 0px;
}
.buyCourse {
  max-width: 100px;
  margin-bottom: 30px;
  padding: 8px 0px;
  background-color: #21b573;
  border: none;
  color: white;
  border-radius: 50px;
  cursor: pointer;
}
.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.singleInfo {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.singleInfo:first-child {
  justify-content: flex-start;
}
.singleInfo span {
  font-size: 12px;
}
.singleInfo img {
  max-width: 15%;
  padding-right: 5px;
}
.lastCard {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
}
/* This is our Online Course section end */
/* This is our Testimonial section start */
.testimonialWrap {
  display: flex;
  flex-direction: column;
}

.testimonial {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}
.testimonial img {
  width: 40%;
}
.testimonial p {
  text-align: justify;
}
/* This is our Testimonial section end */
/* This is footer section start */
footer {
  background-color: #282531;
}
.footerWrap {
  padding: 50px 0px;
  display: flex;
  flex-flow: column wrap;
}
.footerWrap {
  padding: 50px 0px;
  display: flex;
  flex-flow: column wrap;
  gap: 30px;
}

.singleFoot span {
  font-size: 14px;
  font-weight: 300;
}

.singleFoot {
  color: white;
  width: 100%;
}

.singleFoot span {
  font-size: 14px;
  font-weight: 200;
  text-align: justify;
}

.singleFoot a {
  color: white;
  font-size: 12px;
  font-weight: 200;
}
.singleFoot a:hover {
  font-weight: 300;
}
.singleFoot ul {
  list-style-type: none;
}

/* This is footer section end */
small {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  color: white;
  letter-spacing: 2.5px;
}
small a {
  padding-left: 15px;
  font-size: 15px;
  color: #b8e6b8;
}
